<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Student</title>
    <link rel="shortcut icon" href="https://custpostimages.s3.ap-south-1.amazonaws.com/5876/1613798237528.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    Update Admin:
    <form action="/admin/update?_method=PUT" method="POST">
    
        <table class="table table-bordered table-hover ">
            <thead class="table-dark">
              <tr class="text-center">
                <th scope="col"> Name </th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                <%for(let admin of admins){%> 
              <tr>
                
                <td><%=admin.name%></td>
                <td> <input type="text" name=<%=admin.username%> id=<%=admin.username%> value=<%=admin.username%>></td>
                <td> <input type="text" name= <%=admin.password%> id= <%=admin.password%> value= <%=admin.password%>></td> 
                <td><button class="btn btn-success" type="submit">Save</button></td>             
              </tr>
              <%}%>      
            </form>     
            </tbody>
          </table>
       
        
</form>
</body>
</html>